body .table {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
}
body .table .row {
  display: table-row;
  width: 100%;
  padding: 0;
  margin: 0;
}
body .table .row .col {
  display: table-cell;
  background-clip: padding-box;
  background-color: #dadada;
  padding: 10px;
}
